#{extends 'ShowArticles/base.html' /}
#{set title:'show news' /}
	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><a href="#">首页</a></li>
	  <li><a href="#">社区新闻</a></li>
	  <li class="active">新闻</li>
	</ol>
	<div class="main-content">
		<img class="img-responsive show-img"  src="../public/images/FactsFigures.jpg" alt="">
			<h2>
				马云：中国为什么需要足球？
			</h2>
			<p class="sub"><small>作者:马云扎堆专栏</small><small>审稿人：吴大妈</small><small >2014-12-03</small></p>
			<p>足球在我和很多国人的印象中一直是“野蛮，粗暴，不文明，骚乱，足球流氓。。。”</p>
		　　<p>很多人说中国已经有那么多体育金牌了，难道我们还缺这么一块足球金牌？既然这么难搞，不如不搞，还不如转注搞好其它运动金牌。呵呵 很多年来我都有这观点。现在想来我们对运动文化本身的了解是多么的缺乏和幼稚。</p>
		　　<p>其实中国需要的不是足球，而是足球背后的集体运动文化。我们常常听说“一个中国人是条龙，十个中国人不如十条虫”的说法，听上去很刺耳，但确实很值得我们反思。我们是否缺乏了点什么东西。</p>
		　　<p>我们国家的个人体育运动确实特别厉害。无论是体操，乒乓，羽毛球，举重。。。都让世人瞩目。但个体运动和集体运动是有巨大的差异。个人运动是自己的问题自己解决，自己的机会自己把握。而集体运动讲究团队精神，讲究舍己从人的配合，是特别专注集体的问题集体解决，集体的机会共同把握。这不正是我们必须要有的文化吗？</p>
		　　<p>有人说美国足球不是也不好吗，难道美国也不行？其实美国集体运动最厉害的是NBA篮球，和美国橄榄球等运动。西方很多国家特别强调通过群体运动来训练孩子们的团队配合精神和文化。</p>
		　　<p>我们今天的时代更需要这样的团队精神，共同面对把握机会，共同解决问题的文化。我们一个孩子家庭的独特体制就更需要有这样的文化训练，否则以自己和个人为中心会成为我们后代的文化，那是不可想象的。孩子们缺乏群体团队运动的训练，长大后是很难有共同配合迎接挑战的能力的。</p>
		　　<p>足球运动也反映出人们对英雄和团队作用的看法。中国文化是很难有活着的英雄的。死了的人才可以是大树特树的英雄。“黄继光，邱少云，雷锋，焦裕禄。。。”全这样呵呵。我们对英雄求全，他必须是样样都好，活着的人是没有办法样样都好，活着的人是肯定经不起考验的。所以你死了就可以是英雄。在电影里，美国片子的英雄最后基本是活着的，而中国的英雄基本是死了。。我们喜欢英雄，但我们不信边上的人就是英雄。</p>
		　　<p>如果我们不改变自己，不倡导集体运动和团队文化建设，我们是很难有我们的“梅西，C罗，马拉多那。。。”的。因为这些英雄一定会死在自己队友的心里。“他牛？要不是我传球给他，他有机会？！！丫不是靠我？！！”嘿嘿，我们习惯性的认为别人的成功全基本是自己的功劳，而从不反思自己脚下的球技，特别是别人为何不传球给他？！</p>
		　　<p>英雄离不开团队，但团队更少不了英雄，如同灵与肉不可分割一样。</p>
			<p class="attach">
				<img src="../public/images/pdf.png" alt=""/>
				<a class="btn" href="#">下载附件</a>
			</p>
			<p class="attach">
				<img src="../public/images/word.png" alt=""/>
				<a class="btn" href="#">下载附件</a>
			</p>
			<p class="attach">
				<img src="../public/images/excel.png" alt=""/>
				<a class="btn" href="#">下载附件</a>
			</p>
	</div>
