#{extends 'main.html' /}
#{get 'moreSubpageStyles' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="../public/stylesheets/base.css">
<style type="text/css">
	.aside:before{
		border-top:4px solid #E56745;
	}
	.nav-side li>a{
		color:#E56745;
	}	

	ul.sub li{
		display: inline-block;
	}
</style>
 #{/set}

 		
<div class="main-container container-fluid">
		<div class="row">
		  <section class="col-md-10 col-md-offset-1 col-xs-12">
		  	<div class="col-md-8">

				#{doLayout /}
			</div>
		  	<div class="col-md-4 col-xs-12">
		  		<aside class="aside">
		  			<ul class="nav-side">
		  				<li><a href="@{ShowWorks.Works}">我要找工</a></li>
		  				<li><a href="@{ShowHouses.rentHouses}">发布招聘</a></li>
		  			</ul>
		  			<form  role="form">
						<input type="text" class="form-control" >
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
		  </section>
		</div>
	</div>
		#{set "moreScripts"}
			<script type="text/javascript">
				var i ;

					var moreitem = document.querySelectorAll('.moreitem-box');
					for(i=0;i<moreitem.length;i++){

						moreitem[i].onmouseover = function(){
							this.querySelector('ul.moreitem').style.display = "block";
							var moreitemLink = this.querySelectorAll('.moreitem a');
							var moreitemShow = this.querySelector('.moreitem-btn a')
							for(var n=0;n<moreitemLink.length;n++){
								moreitemLink[n].onclick = function(){
									moreitemShow.innerHTML = this.innerHTML;
									this.parentNode.parentNode.style.display = "";
								}
							}
						}
						moreitem[i].onmouseout = function(){
							this.querySelector('ul.moreitem').style.display = "";
						}
					}

			</script>
		#{/set}
		#{get "moreSubpageScripts"/}