#{extends 'ShowWorks/base.html' /}
#{set title:'recruit' /}
#{set "moreSubpageStyles"}
	<style type="text/css">
		.table > tbody > tr > td,.table>tbody>tr>th{
			border-top:none;
			font-size: 1.1em;
			color: #333;
			vertical-align: top;
			margin: 10px 0px 0px 10px;
		}
		.table>tbody>tr>th{
			width: 20%;
			text-align: right;
			padding-right:5%;
		}
		.main-content label,.table td a{
			margin-right:10px;
			font-weight: normal;
		}
		.form-control{
			display: inline-block;
			width: 50%;
		}
		.table th em{
			color:red;
			margin-right: 5px;
		}
		.moreitem a{
			display: inline-block;
			padding: 8px 10px;
		}
		td label input[type="text"]{		
			width: 50px;
			padding-right: 5px;
		}
		ul.sub{
			padding-left: 0;
			border-bottom: none;
		}
		ul.sub li{
			margin:10px 0px 0px 10px;
		}
		.chose-all{
			margin-left: 10px;
		}
		form:after{
			content: '';
			display: block;
			height: 0;
			clear: both;
		}
		.btn.chosen{
			border: 2px solid green;
		}
		.btn-lg{
			margin:10px;
		}
		span.ok{
			background: url(../public/images/ok.png);
			width:16px;
			height: 16px;
			display: inline-block;
		}
		@media screen and (max-width: 480px){
			.table>tbody>tr>th,.table>tbody>tr>td{
				border-top: 1px solid #ccc;
			}
			.table>tbody>tr>th{
				width: 35%;
			}
			.moreitem-box{
				margin-bottom: 10px;
			}
		}
	</style>
#{/set}
		<!-- 路径导航 -->
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li ><a href="">社区招聘</a></li>
			<li class="active">招聘信息填写</li>
		</ol>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p class="bg-warning">如果您有账号，可点击<a>登录</a>再填写 ; 或者点击<a>注册</a></p>
</div>
<div class="main-content">
	<form>
		<table class="table table-hover  table-condensed">
			<tbody>
				<tr>
					<th><em>*</em><span>标题</span></th>
					<td>
						<label class="sr-only" for="title">标题</label>
	    				<input type="text" class="form-control" id="title" name="title">
						<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>职位类别</span></th>
					<td>
						<label class="sr-only" for="category">小区地址</label>
	    				<input type="text" class="form-control" id="category" name="category">
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>招聘人数</span></th>
					<td>
						<label class="sr-only" for="recruitNumber">招聘人数</label>
	    				<input type="number" class="form-control" id="recruitNumber" name="recruitNumber">
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>学历</span></th>
					<td>
						<div class="moreitem-box">
			   			<div class="moreitem-btn"><a >不限</a>
			   				</div>
				   			<ul class="moreitem" >
				   				<li><a>高中以下</a></li>
				   				<li><a>高中</a></li>
				   				<li><a>技校</a></li>
				   				<li><a>中专</a></li>
				   				<li><a>大专</a></li>
				   				<li><a>本科</a></li>
				   				<li><a >本科以上</a></li>
				   			</ul>
			   			</div>
      					<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>工作年限</span></th>
					<td>
		   				<div class="moreitem-box">
			   			<div class="moreitem-btn"><a >不限</a>
			   				</div>
				   			<ul class="moreitem" >
				   				<li><a>高中以下</a></li>
				   				<li><a>高中</a></li>
				   				<li><a>技校</a></li>
				   				<li><a>中专</a></li>
				   				<li><a>大专</a></li>
				   				<li><a>本科</a></li>
				   				<li><a >本科以上</a></li>
				   			</ul>
			   			</div>		   								
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>性别</span></th>
					<td>
		   				<div class="moreitem-box">
			   			<div class="moreitem-btn"><a >不限</a>
			   				</div>
				   			<ul class="moreitem" >
				   				<li><a>高中以下</a></li>
				   				<li><a>高中</a></li>
				   				<li><a>技校</a></li>
				   				<li><a>中专</a></li>
				   				<li><a>大专</a></li>
				   				<li><a>本科</a></li>
				   				<li><a >本科以上</a></li>
				   			</ul>
			   			</div>									   								
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>年龄</span></th>
					<td>
						<label class="sr-only" for="min-age">最小年龄</label>
	    				<input type="text" class="form-control" id="min-age" name="min-age" style="width:30%;">
		   				<label>到</label>
		   				<label class="sr-only" for="max-age">最大年龄</label>
	    				<input type="text" class="form-control" id="max-age" name="max-age" style="width:30%;">
      					<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>月薪</span></th>
					<td>
						<div class="moreitem-box ">
			   				<div class="moreitem-btn"><a >请选择</a>			   				
			   				</div>
			   				<ul class="moreitem" >
			   					<li><a>出租主卧</a></li>
			   					<li><a>出租侧卧</a></li>
			   					<li><a >出租隔断间</a></li>
			   					<li><a>出租床位</a></li>
			   				</ul>
		   				</div>
		   				<input type="checkbox"/>
			   			<label>有试用期</label>
      					<span></span>
					</td>
				</tr>
				<tr>
					<th><span>社会福利</span></th>
					<td>
						<input class="btn btn-default " type="button" value="+" style="width:10%;" name="tag"/>
						<span style="margin-left:10px;">推荐： <a>没有</a><a>没有</a><a>反正就是没有</a></span>
						<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span> 职位描述</span></th>
					<td>
						<textarea class="form-control" rows="5" style="width:80%" name="description"></textarea>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>是否收费</span></th>
					<td>
						<label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked >
						    收费
						</label>
						<label>
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						   不收费
						</label>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>联系人</span></th>
					<td>
						<label class="sr-only" for="contact">联系人</label>
	    				<input type="text" class="form-control" id="contact">
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>联系电话</span></th>
					<td>
						<label class="sr-only" for="phone">联系电话</label>
	    				<input type="text" class="form-control" id="phone">
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" class="btn btn-danger btn-lg pull-right" value="确认并发布">	
		</form>
		</div>