#{extends 'main.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="../public/stylesheets/base.css">

<link rel="stylesheet" type="text/css" href="../public/stylesheets/newsStyle.css">
 #{/set}
<div class="main-container container-fluid">
		<div class="row">
		  <section class="col-md-10 col-md-offset-1 col-xs-12">
		  	<div class="col-md-8">
				#{doLayout /}
			</div>
		  	<div class="col-md-4 col-xs-12">
		  		<aside class="aside">
		  			<form  role="form">
						<input type="text" name="searchKey" class="form-control" >
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					<div >
						<h3>热门搜索</h3>
						<ul class="aside-styled-ul">
							<li>
								<a href="">阜阳疫情迟公开暴露人祸大于灾难</a>
							</li>
							<li>
								<a href="">袁立和前夫博客开骂，创造现代炒作新高潮</a>
							</li>
							<li>
								<a href="">新生 第五章 4，战地救护</a>
							</li>
							<li>
								<a href="">失联航班，马方需要给出真相</a>
							</li>
						</ul>
					</div>
		  		</aside>
		  	</div>
		  </section>
		</div>
	</div>
#{set 'moreScripts' }
		<script charset="utf-8" src="@{'/public/javascripts/sea.js'}"></script>
		<script>
			seajs.config({
				base:"../public/javascripts/module/",
				alias:{
					"jquery":"jquery/jquery-1.7.1.min.js",
					"Util":"Util/main.js"
				}
			});
			seajs.use("../public/javascripts/static/show_news/src/main");
		</script>
	#{/set}
