#{extends 'ShowNews/base.html' /}
#{set title:'show news' /}
	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><a href="@{Application.index}">首页</a></li>
	  <li><a href="@{ShowNews.news}">社区新闻</a></li>
	  <li class="active">新闻</li>
	</ol>
	<div class="main-content shownews-content">
			<h3 style="color:font-size: 24px;text-align: center;line-height: 30px;color: #039">
				${news.newsTitle}
			</h3>
			
			<p class="sub"><small>作者:${authorName}</small>&nbsp;&nbsp;<small>审稿人：${auditName}</small>&nbsp;<small class="pull-right">发布时间：${news.newsCreateDate}&nbsp;&nbsp;</small></p>
			${news.newsContent.raw()}
	</div>
