#{extends 'Houses/base.html' /}
#{set title:'add-Houses' /}
#{set "moreSubpageStyles"}
	<style type="text/css">
		.table > tbody > tr > td,.table>tbody>tr>th{
			border-top:none;
			font-size: 1.1em;
			color: #333;
			vertical-align: top;
			margin: 10px 0px 0px 10px;
		}
		.table>tbody>tr>th{
			width: 20%;
			text-align: right;
			padding-right:5%;
		}
		.main-content label,.table td a{
			margin-right:10px;
			font-weight: normal;
		}
		.form-control{
			display: inline-block;
			width: 50%;
		}
		.table th em{
			color:red;
			margin-right: 5px;
		}
		.moreitem a{
			display: inline-block;
			padding: 8px 10px;
		}
		td label input[type="text"]{		
			width: 50px;
			padding-right: 5px;
		}
		ul.sub{
			padding-left: 0;
			border-bottom: none;
		}
		ul.sub li{
			margin:10px 0px 0px 10px;
		}
		.chose-all{
			margin-left: 10px;
		}
		form:after{
			content: '';
			display: block;
			height: 0;
			clear: both;
		}
		.btn.chosen{
			border: 2px solid green;
		}
		.btn-lg{
			margin:10px;
		}
		span.ok{
			background: url(../public/images/ok.png);
			width:16px;
			height: 16px;
			display: inline-block;
		}
		@media screen and (max-width: 480px){
			.table>tbody>tr>th,.table>tbody>tr>td{
				border-top: 1px solid #ccc;
			}
			.table>tbody>tr>th{
				width: 35%;
			}
			.moreitem-box{
				margin-bottom: 10px;
			}
		}
	</style>
#{/set}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p class="bg-warning">如果您有账号，可点击<a>登录</a>再填写 ; 或者点击<a>注册</a></p>
</div>
<div class="main-content">

	
	<form action="@{Houses.saveHouse()}" method="post" enctype="multipart/form-data">
		<table class="table table-hover  table-condensed">
			<tbody>
				<tr>
					<th><em>*</em><span>出租方式</span></th>
					<td>
						<label>
						<input type="radio" name="house.way"  value="整租" checked >
						    整租
						</label>
						<label>
						<input type="radio" name="house.way" id="" value="合租">
						   合租
						</label>
						<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>您的身份</span></th>
					<td>
						<input type="radio" name="house.indentity" value="个人" checked/>个人&nbsp&nbsp&nbsp
						<input type="radio" name="house.indentity" value="经纪人" />经纪人
						<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>联系人</span></th>
					<td>
						<label class="sr-only" for="contact">联系人</label>
	    				<input type="text" class="form-control" id="" name="house.contacts" value="庄祥鹏" />
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>联系电话</span></th>
					<td>
						<label class="sr-only" for="phone">联系电话</label>
	    				<input type="text" class="form-control" name="house.phone" value="13560419054">
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>小区</span></th>
					<td>
	    				<input type="text" class="form-control" id="" name="house.community" value="华山小区">
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>详细地址</span></th>
					<td>
						
      						<input type="text" class="form-control" id="" name="house.address" value="22-305"/>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>户型</span></th>
					<td>
		   				<label>
		   					<input type="text" class="form-control" name="house.bedRoom" value="1"/>
		   				室
		   				</label>		   				
		   				<label>
		   					<input type="text" class="form-control" name="house.livingRoom" value="1">
		   					厅
		   				</label>						
						<label>
		   					<input type="text" class="form-control" name="house.bathRoom" value="1">
		   					卫	
		   				</label>
		   				<label>
		   					<input type="text" class="form-control" name="house.square" value="30">
		   					平方	
		   				</label>		   								
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>楼层</span></th>
					<td>
		   				<label>
		   					<input type="text" class="form-control" name="house.currentFloor" value="3"/>
		   				层/共
		   				</label>		   				
		   				<label>
		   					<input type="text" class="form-control" name="house.countFloor" value="5">
		   					层
		   				</label>								   								
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>房屋情况</span></th>
					<td>
			   				<select name="house.decorationSituation" >
							<option value="豪华装修">豪华装修</option>
							<option value="精装修">精装修</option>
							<option value="中等">中等</option>
							<option value="简单">简单</option>
							<option value="毛胚">毛胚</option>
							</select>
		   			
		   					<select name="house.classSituation">
		   					<option value="平房">平房</option>
		   					<option value="普通住宅">普通住宅</option>
		   					<option value="公寓">公寓</option>
		   					<option value="商住两用">商住两用</option>
		   					<option value="别墅">别墅</option>
		   					<option value="其他">其他</option>
		   					</select>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>家电配备</span></th>
					<td>
						<ul class="sub" id="checkItem">
			   				<li><input type="checkbox" name="equipment" value="床"checked/>床</li>
				  			<li><input type="checkbox" name="equipment" value="衣柜"/>衣柜</li>
				  			<li><input type="checkbox" name="equipment"  value="沙发" checked/>沙发</li>
				  			<li><input type="checkbox" name="equipment" value="冰箱"/>冰箱</li>
				  			<li><input type="checkbox" name="equipment" value="洗衣机"/>洗衣机</li>
				  			<li><input type="checkbox" name="equipment" value="空调"/>空调</li>
				  			<li><input type="checkbox" name="equipment" value="热水器"/>热水器</li>
				  			<li><input type="checkbox" name="equipment" value="宽带"/>宽带</li>
				  			<li><input type="checkbox" name="equipment" value="暖气"/>暖气</li>
				  			<li><input type="checkbox" name="equipment" value="电视"/>电视</li>
				  			<a class="chose-all btn btn-default">全选</a>
				  		</ul>							   								
	    				<span></span>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>租金</span></th>
					<td>
						<label>
		   					<input type="text" class="form-control" style="width:80px;" name="house.price" value="1000"/>
		   				元/月
		   				</label>
						
					</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<th><em>*</em><span>描述</span></th>
					<td>
						<textarea class="form-control" rows="5" style="width:80%" name="house.details" >这是一间宿舍</textarea>
					</td>
				</tr>
				<tr>
					<th><em>*</em><span>上传照片</span></th>
					<td>
						<span class="help-block">
							<input class="btn btn-default" type="file" name="photoUrl" onChange="checkImgType(this)" multiple>
					</td>
				</tr>
				
			</tbody>
		</table>
		<input type="submit" class="btn btn-danger btn-lg pull-right" value="确认并发布" >	
	</form>
</div>
#{set "moreSubpageScripts"}
	<script type="text/javascript">
		var checkItems = document.getElementById('checkItem').getElementsByTagName('input');
		var choseAll =document.getElementById('checkItem').getElementsByTagName('a')[0];
		var trs = document.getElementsByTagName('tr');
		var identity = trs[1].querySelectorAll('a');
		var i;
		// 判断是否选择身份
			for(i=0;i<identity.length;i++){
				identity[i] .onclick = function(){
					for(var n=0;n<identity.length;n++) removeClass(identity[n],'chosen');
					addClass(this,'chosen');
					this.parentNode.querySelector('span').className ="ok";
				}
			} 
			// 全选和全不选实现
			choseAll.onclick = function(){
				if(isCheckAll()){
					for(i=0;i<checkItems.length;i++){
						checkItems[i].checked = false ;
					}
					choseAll.innerHTML = "全选";
				}else{
					for(i=0;i<checkItems.length;i++){
						checkItems[i].checked = true;
					}
					choseAll.innerHTML = "全不选";
				}
			}
			// 判断是否选取全部
			function isCheckAll(){
				for(var  n=0,i=0;i<checkItems.length;i++){
					checkItems[i].checked&&n++;
				}
				if(n == checkItems.length){
					return true;
				}else{
					return false;
				}
			}
			
	</script>
#{/set}