<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>showAllHosue</title>
</head>
<body>
<table>
<tr>
<td>id</td><td>显示状态</td><td>审核状态</td>
<td>发布者姓名</td><td>发布者电话</td><td>发布者详细信息</td>
<td>房子照片</td><td>房子地址</td><td>房子概况</td>
<td>价格</td><td>房子详细信息</td>
</tr>
			#{list items:h,as:'house'}
				<tr>
					<td>${house.id}</td>
					<td>${house.status}</td>
					<td>${house.audit}</td>
					<td>${house.authorName}</td>
					<td>${house.authorPhone}</td>
					<td>${house.authorInfo}</td>
					<td>${house.photoUrl}</td>
					<td>${house.address}</td>
					<td>${house.details}</td>
					<td>${house.price}</td>
					<td>${house.message}</td>
					<td><a href="@{Houses.delHouse(house.id)}">删除</a></td>
				</tr>
			#{/list}
		</table>
		<a href="@{Houses.addHouse()}">发布租房信息</a>
</body>
</html>