#{extends 'main.html' /}
#{get 'moreSubpageStyles' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="../public/stylesheets/base.css">
 #{/set}

 		
<div class="main-container container-fluid">
		<div class="row">
		  <section class="col-md-10 col-md-offset-1 col-xs-12">
		  	<div class="col-md-8">
				#{doLayout /}
			</div>
		  	<div class="col-md-4 col-xs-12">
		  		<aside class="aside">
		  			<ul class="nav-side">
		  				<li><a href="@{Works.showWorks}">我要找工</a></li>
		  				<li><a href="@{Works.addWork}">发布招聘</a></li>
		  			</ul>
		  			<form  action="@{Works.showWorks}" method="post" role="form">
						<input type="text" name="searchKey" class="form-control" >
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
				</aside>
				</div>
		  </section>
		</div>
	</div>
		#{set "moreScripts"}
			<script type="text/javascript" src="../public/javascripts/base.js">	</script>
		#{/set}
		#{get "moreSubpageScripts"/}