#{extends 'main.html' /}
#{get 'moreSubpageStyles' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="../public/stylesheets/base.css">
<style type="text/css">
	.aside:before{
		border-top:4px solid #E56745;
	}
	.nav-side li>a{
		color:#E56745;
	}	

	ul.sub li{
		display: inline-block;
	}
	.table > tbody > tr > td,.table>tbody>tr>td a{
		color: #585858;
	}
	.table > tbody > tr  strong a{
		font-size: 16px;
		color: #428bca;
		font-weight: normal;
	}
	.table a:hover{
		color: red;
	}
</style>
 #{/set}

 		
<div class="main-container container-fluid">
		<div class="row">
		  <section class="col-md-10 col-md-offset-1 col-xs-12">
		  	<div class="col-md-8">

				#{doLayout /}
			</div>
		  	<div class="col-md-4 col-xs-12">
		  		<aside class="aside">
		  			<ul class="nav-side">
		  				<li><a href="@{ShowWorks.Works}">我要找工</a></li>
		  				<li><a href="@{ShowWorks.recruit}">发布招聘</a></li>
		  			</ul>
		  			<form  role="form">
						<input type="text" class="form-control" >
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
				</aside>
				</div>
		  </section>
		</div>
	</div>
		#{set "moreScripts"}
			<script type="text/javascript" src="../public/javascripts/base.js">	</script>
		#{/set}
		#{get "moreSubpageScripts"/}