#{extends 'Works/base.html' /}
#{set title:'Works' /}
#{set "moreSubpageStyles"}
<style type="text/css">
	dt{
		padding-right: 20px;
	}
	.panel-body form{
		display: inline-block;
		width:200px;
		margin-left:5px;		
	}
	.form-control{
		display: inline-block;
		width:70%;
	}
	.moreitem-box{
		margin:0px 0px 10px 10px;
	}
	.table > tbody > tr > td,.table>tbody>tr>td a{
		font-size: 12px;
	}
</style>
#{/set}
		<div class="panel panel-default">
		</div>
		<div class="main-content">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td><strong><a href="@{Works.showWorkInfo}">房产销售+五险一金+高薪</a></strong></td>
						<td><a>长沙创飞凡地产</a></td>
						<td>新星小区</td>
						<td>今天</td>
					</tr>
					<tr>
						<td><strong><a>创飞凡地产急聘房产经纪人</a></strong></td>
						<td><a>长沙创飞凡地产</a></td>
						<td>新星小区</td>
						<td>今天</td>
					</tr>
					<tr>
						<td><strong><a>普工学徒工</a></strong></td>
						<td><a>长沙铝业门窗厂</a></td>
						<td>新星小区</td>
						<td>今天</td>
					</tr>
					<tr>
						<td><strong><a>技师</a></strong></td>
						<td><a>长沙保利休闲会所</a></td>
						<td>新星小区</td>
						<td>今天</td>
					</tr>
					<tr>
						<td><strong><a>招学徒</a></strong></td>
						<td><a>三码头嗦螺</a></td>
						<td>新星小区</td>
						<td>2个小时</td>
					</tr>
					<tr>
						<td><strong><a>店长</a></strong></td>
						<td><a>星辰眼镜</a></td>
						<td>新星小区</td>
						<td>3个小时</td>
					</tr>
					<tr>
						<td><strong><a>收银员</a></strong></td>
						<td><a>梦缘网络会所</a></td>
						<td>新星小区</td>
						<td>4个小时</td>
					</tr>
					<tr>
						<td><strong><a>教务老师</a></strong></td>
						<td><a>长沙大升教育咨询有限公司</a></td>
						<td>新星小区</td>
						<td>6个小时</td>
					</tr>
					<tr>
						<td><strong><a>秩序维护员</a></strong></td>
						<td><a>融科物业</a></td>
						<td>新星小区</td>
						<td>11个小时</td>
					</tr>
					<tr>
						<td><strong><a>销售顾问</a></strong></td>
						<td><a>南京超丰机械工程有限公司</a></td>
						<td>新星小区</td>
						<td>2014-05-12</td>
					</tr>
				</tbody>
			</table>
		</div>

