	#{extends 'BackHouses/base.html'/}
	#{set housesVerify : 'class=active' /}
	<table class="table table-condensed">
   <caption>信息审核</caption>
   <thead>
      <tr>
         <th>联系人</th>
         <th>租房地址</th>
         <th>审核状态</th>
         <th>操作</th>
      </tr>
   </thead>
   <tbody>
      #{list items:houseList,as : 'house'}
      <tr>
         <td>${house.contacts}(${house.indentity})</td>
         <td>${house.community}${house.address}</td>
         <td>
            #{if house.audit==1} 
            未审核
            #{/if} #{elseif house.audit==2}
            审核不通过
            #{/elseif}
            #{else}
            已审核
            #{/else}
         </td>
         <td>
            <a href="@{BackHouses.housesVerifySuccess(house.id)}">通过</a>
            <a href="@{BackHouses.housesVerifyFailure(house.id)}">不通过</a>
         </td>
      </tr>
      #{/list}
   </tbody>
</table>

