	.main-content{
		clear: both;
		margin-bottom: 20px;
	}
	.main-container .panel-body{
		padding: 15px 15px 0px 15px;
	}
	.main-container a.active{
		background: #EC9508;
		color: #fff;
	}
	.img-responsive{
		max-height:300px;
	}
	dt{
		float: left;
	}
	dt,dd a{
		display: inline-block;
		padding: 5px 8px;
	}
	dd{
		margin-bottom: 10px;
	}
	.aside li>a{
			word-wrap:break-word;
	}
	.aside li{
		line-height: 25px;
		border-right: none;
	}
	.aside .aside-styled-ul li{
		padding:10px 0;
	}
 	.aside li{
		line-height: 25px;
	}

	.aside{
		background: #f8f8f8;
		-moz-box-shadow:0 600px 50px -50px rgba(235,230,225,0.3)  inset;
		-webkit-box-shadow:0 600px 50px -50px rgba(235,230,225,0.3)  inset;
		box-shadow:0 500px 50px -50px rgba(235,230,225,0.3)  inset;
		padding: 10%;
		margin-top:0;
	}

	.aside form{
		background: #fff;
		padding: 5%;
		border: 3px solid #f3f0eb;
		margin-bottom: 1px;
	}
	.aside form >input{
		display:inline-block;
		width:70%;
	}
	.aside>div{
		background: #fff;
		border: 3px solid #f3f0eb;
		padding: 5%;
		width: 100%;
	}
	
	.aside form .btn{
		background: #756059;
		color: #fff;
		width: 25%;
		padding: 0.3em 0.6em;
	}

	.aside ul{
		position: relative;
		display: inline-block;
		left:-2.5em;
	}
	.aside:before{
		content: "";
		position: absolute;
		top:0px;
		left:20%;
		border-top: 4px solid #008CA4;
		width:60%;
		z-index: 30;
	}
	.aside li{
		margin:5px;
	}
	.aside h3{
		border-bottom:1px solid #ebe8e4;
		padding: 10px;
	}

	.main-content .news.news-ul>li.br:before{
	content : "";
	}
	.main-container .row>section>div{
		margin-bottom: 30px;
	}
	.main-content{
		border-bottom: 1px solid #ebe8e4;
	}
	.sub{
		border-bottom: 1px solid #ebe8e4 ;
	}
	/*招工和租房用到的下拉框样式*/
	.main-container a.active{
		background: #EC9508;
		color: #fff;
	}

	.moreitem-btn,.moreitem-btn a,.moreitem-box{
		display: inline-block;
	}
	.moreitem-btn a{
		padding:5px 20px 5px 5px;
		border: 1px solid #ccc;
		background: url(../images/dropdown.png) no-repeat right;
		margin-right: 1.5em;
		margin-right: 0;
	}
	.moreitem-box{
		position: relative;
		margin-right: 10px;
	}
	.moreitem{
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		top: 31px;
		padding: 0 0 5px;
		width: 103px;
		display: none;
		z-index: 40;
	}

	.moreitem li{
		padding-left: .5em;
	}
	.moreitem li:hover{
		background: #faebcc;
	}
	.nav-tabs>li.active>a{
		background-color: #f60;
		color: #fff;
	}
	.alert-success{
		clear: both;
		font-size: 14px;
		padding:10px;
		margin: 10px;
	}
	/*各分页面base.html用到的侧栏样式*/
	.nav-side{
		padding: 5%;
		width: 100%;
	}

	.nav-side li{
		padding: 10px;
		border-top: 1px solid #ebe8e4;
		margin: 0;
	}
	.nav-side li:hover {
				background : #ccc;
				border-radius: 4px;
	}
	.nav-side li>a:hover{
		color : #fff;
	}
	.nav-side li:first-child{
		border-top: none;
	}

/*work-base的css*/
	.aside:before{
		border-top:4px solid #E56745;
	}
	.nav-side li>a{
		color:#E56745;
	}	

	ul.sub li{
		display: inline-block;
	}
	.table > tbody > tr > td,.table>tbody>tr>td a{
		color: #585858;
	}
	.table > tbody > tr  strong a{
		font-size: 16px;
		color: #428bca;
		font-weight: normal;
	}
	.table a:hover{
		color: red;
	}
	/*work的css*/
	dt{
		padding-right: 20px;
	}
	.panel-body form{
		display: inline-block;
		margin-left:5px;		
	}
	.panel-body form input[name="keyword"]{
		width:150px;
	}
	.form-control{
		display: inline-block;
		width:70%;
	}
	.moreitem-box{
		margin:0px 0px 10px 10px;
	}

	/*news的css*/
	.main-content .news{
		padding-left: 15px;
	}

	.main-content .news.news-ul>li:before{
		display: inline;
		content:">>";
		margin-right:1em;
	}
	
	.main-content .news>li>a {
		display: inline;
		color: #333;
		word-wrap:break-word;
	}
	
	.main-content .news>li>a:hover{
		color: red;
	}

	.main-content .news>.br:before{
		content: "";
	}
	.main-content .br{
		height: 0.8em;
	}

	.main-content .news span.pull-right{
		opacity:0.7;
		filter:alpha(opacity=70);
	}
/*house的css*/
dd label input{		
		width: 40px;
		padding-right: 5px;
	}
.btn-find{
		margin-left: 10px;
	}
.choose-fliter{
		margin-bottom:0;
		border-top:1px solid #ccc;
	}
.choose-fliter li{
	margin-bottom: 0;
}
	.house-info a{
		font-size: 1.3em;
	}
	.house-info small{
		color:#756059;
		padding-right: 1em;
	}
	.price{
		font-size: 1.5em;
		color:#f60;
	}
/*表单填写部分样式*/
		.form-fill .table > tbody > tr > td,.table>tbody>tr>th{
			border-top:none;
			font-size: 1.1em;
			color: #333;
			vertical-align: top;
			margin: 10px 0px 0px 10px;
		}
		.form-fill .table>tbody>tr>th{
			width: 20%;
			text-align: right;
			padding-right:5%;
		}
		.form-fill  label,.table td a{
			margin-right:10px;
			font-weight: normal;
		}
		.form-fill .form-control{
			display: inline-block;
			width: 50%;
		}
		.form-fill .btn-lg{
			margin:10px;
		}
		.form-fill .moreitem a{
			display: inline-block;
			padding: 8px 10px;
		}
		.form-fill td label input[type="text"]{		
			width: 50px;
			padding-right: 5px;
		}
		.form-fill ul.sub{
			padding-left: 0;
			border-bottom: none;
		}
		.form-fill ul.sub li{
			margin:10px 0px 0px 10px;
		}
		.form-fill .chose-all{
			margin-left: 10px;
		}
		.form-fill form:after{
			content: '';
			display: block;
			height: 0;
			clear: both;
		}
		.form-fill .btn.chosen{
			border: 2px solid green;
		}
		.form-fill span.ok{
			background: url(../public/images/ok.png);
			width:16px;
			height: 16px;
			display: inline-block;
		}

		.form-fill .alert.alert-danger{
			font-size: 12px;
			padding:5px;
		}
		.thumbnail{
			border:none;
		}
	@media screen and (max-width : 480px){
		.aside form>input{
			width:100%;
			margin-bottom: 5px;
		}
		.aside form>.btn{
			display: block;
			width:100%;
		}
		.main-container section{
			padding-left: 0;
			padding-right: 0;
		}
			.table>tbody>tr>th,.table>tbody>tr>td{
				border-top: 1px solid #ccc;
			}
			.table>tbody>tr>th{
				width: 35%;
			}
			.moreitem-box{
				margin-bottom: 10px;
			}
	}