	.main-content{
		clear: both;
		margin-bottom: 20px;
	}
	.main-container .panel-body{
		padding: 15px 15px 0px 15px;
	}
	.main-container a.active{
		background: #EC9508;
		color: #fff;
	}
	dt{
		float: left;
	}
	dt,dd a{
		display: inline-block;
		padding: 5px 8px;
	}
	dd{
		margin-bottom: 10px;
	}
	.aside li>a{
			display: inline;
			color: #333;
			word-wrap:break-word;
	}
	.aside li>a:hover{
		color: red;
	}
	.aside li{
		list-style: none;
		line-height: 25px;
		border-right: none;
	}
	.aside li:before{
		display: inline;
		content:">>";
		margin-right:1em;
	}
 	.aside li{
		list-style: none;
		line-height: 25px;
		border-right: none;
	}
	.aside li>a:hover{
		color: red;
	}
	.aside li:before{
		display: inline;
		content:">>";
		margin-right:1em;
	}

	.aside{
		background: #f8f8f8;
		-moz-box-shadow:0 600px 50px -50px rgba(235,230,225,0.3)  inset;
		-webkit-box-shadow:0 600px 50px -50px rgba(235,230,225,0.3)  inset;
		box-shadow:0 500px 50px -50px rgba(235,230,225,0.3)  inset;
		padding: 10%;
		margin-top:0;
	}

	.aside form{
		background: #fff;
		padding: 5%;
		border: 3px solid #f3f0eb;
		margin-bottom: 1px;
	}
	.aside form >input{
		display:inline-block;
		width:70%;
	}
	.aside>div{
		background: #fff;
		border: 3px solid #f3f0eb;
		padding: 5%;
		width: 100%;
	}
	
	.aside form .btn{
		background: #756059;
		color: #fff;
		width: 25%;
		padding: 0.3em 0.6em;
	}

	.aside ul{
		position: relative;
		display: inline-block;
		left:-2.5em;
	}
	.aside:before{
		content: "";
		position: absolute;
		top:0px;
		left:20%;
		border-top: 4px solid #008CA4;
		width:60%;
		z-index: 30;
	}
	.aside li{
		margin:5px;
	}
	.aside h3{
		border-bottom:1px solid #ebe8e4;
		padding: 10px;
	}

	.main-container .row>section>div{
		margin-bottom: 30px;
	}
	.main-content{
		border-bottom: 1px solid #ebe8e4;
	}
	.sub>small{
		display: inline-block;
		width:25%;
		color:#756059;
	}
	.sub{
		border-bottom: 1px solid #ebe8e4 ;
	}
	/*招工和租房用到的下拉框样式*/
	.main-container a.active{
		background: #EC9508;
		color: #fff;
	}

	.moreitem-btn,.moreitem-btn a,.moreitem-box{
		display: inline-block;
	}
	.moreitem-btn a{
		padding:5px 20px 5px 5px;
		border: 1px solid #ccc;
		background: url(../images/dropdown.png) no-repeat right;
		margin-right: 1.5em;
	}
	.moreitem-btn a:hover{
		text-decoration: none;
	}
	.moreitem-box{
		position: relative;
		margin-right: 10px;
	}
	.moreitem{
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		top: 31px;
		padding: 0 0 5px;
		width: 103px;
		display: none;
		z-index: 40;
	}

	.moreitem li{
		padding-left: .5em;
	}
	.moreitem li a:hover{
		text-decoration: none;
	}
	.moreitem li:hover{
		background: #faebcc;
	}
	/*各分页面base.html用到的侧栏样式*/
	.nav-side{
		padding: 5%;
		width: 100%;
	}

	.nav-side li:before{
		content: "";
	}

	.nav-side li{
		padding: 10px;
		border-top: 1px solid #ebe8e4;
		margin: 0;
	}
	.nav-side li:first-child{
		border-top: none;
	}

	.nav-side li>a{
		font:300 16px/18px 'Avenir LT W01 45 Book', Arial, Helvetica, sans-serif;
		display: inline-block;
	}


	@media screen and (max-width : 480px){
		.aside form>input{
			width:100%;
			margin-bottom: 5px;
		}
		.aside form>.btn{
			display: block;
			width:100%;
		}
		.main-container section{
			padding-left: 0;
			padding-right: 0;
		}
	}