/*basic css*/
body{
	margin: 0;
	background:#fff;
	font-family:Helvetica,Tahoma,Arial,"鍐潚榛戜綋","Microsoft YaHei","寰蒋闆呴粦",SimSun,"瀹嬩綋",sans-serif;
	overflow-X:hidden; 
}
html,body{
  height: 100%;	
}
a{
	cursor: pointer;
}
ul{
	list-style: none;
}
ol>li>a.disabled,td>a.disabled{
	pointer-events:none;
	cursor: not-allowed;
	opacity:.6;
	filter:alpha(opacity=60);
}

ol>li>a.disabled:hover,td>a.disabled:hover{
	color:#333;
}
ul>li a{
	color:#756059;	
}


/*瀵艰埅鏉�/
.row{
	margin-left: auto;
	margin-right:auto;
}
/* nav-set */
.logo {
	background: url(../images/logo.png) no-repeat;

	height: 95px;
	float: left;

	text-indent: -999px;
}

.contact {
	margin-top:20px;
}

.contact ul{
	border-bottom: solid 1px;
	padding-bottom: 5px;
}
.contact .list-inline li a {
	text-decoration: none;
	color:#444444;

	padding-right: 5px;
}

.contact h3 { 
	font-family: 'Nimbus Roman No9 L';

	margin-top: 5px;
	float: left;
}

.contact .hot-line {
	padding-top: 5px;

	line-height: 25px;
}

.contact span {
	font-family:Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	font-size:18px;

	display: block;
}

/*nav-bar*/
.navbar{
	border-radius: 0px;
	z-index: 100;
}
.nav-container .navbar-inverse {
	background: linear-gradient(to bottom, #034c98 0%, #0056a9 100%);
	border-color: #034c98;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-toggle {
	border-color: #034c98;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse {
	background: #1575D9;
}

/*edit in boostrap to make it simple*/
.navbar-inverse , .dropdown-toggle:focus{
	background-color: #034c98;
	background: linear-gradient(to bottom, #034c98 0%, #0056a9 100%);
}
.navbar-inverse .navbar-nav>li>a{
		font-size:16px;
		text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a ,footer,.navbar-inverse .navbar-nav>.active>a{
	background-color: #034c98;
	background: -moz-linear-gradient(top, #034c98 0%, #0056a9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #034c98), color-stop(100%, #0056a9));
	background: -webkit-linear-gradient(top, #034c98 0%, #0056a9 100%);
	background: -o-linear-gradient(top, #034c98 0%, #0056a9 100%);
	background: -ms-linear-gradient(top, #034c98 0%, #0056a9 100%);
	background: linear-gradient(to bottom, #034c98 0%, #0056a9 100%);

	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover ,.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #EC9508;
	background: -moz-linear-gradient(top, #FDAE04 0%, #EC9508 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDAE04), color-stop(100%, #EC9508));
	background: -webkit-linear-gradient(top, #FDAE04 0%, #EC9508 100%);
	background: -o-linear-gradient(top, #FDAE04 0%, #EC9508 100%);
	background: -ms-linear-gradient(top, #FDAE04 0%, #EC9508 100%);
	background: linear-gradient(to bottom, #FDAE04 0%, #EC9508 100%);
}

.show{
	position: fixed;
	top:0;
	left:0;
	z-index:999;
	min-height: 30px;
	max-height: 30px;
}

.show .navbar-toggle{
	margin-top:0;
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.show .navbar-collapse ul{
	margin-top:0;
}

.show .navbar-header{
	margin:2px;
}


.dropdown-menu{
	background: #E56745;
}
.dropdown-menu ul{
	border: none;
}
.dropdown-menu li{
	border-top: 1px solid #fff;
}

.dropdown-menu li:first-child{
	border-top: none;
}

.dropdown-menu>li>a{
	color:#fff;
	height: 52px;
	padding-top: 20px;
}

.dropdown-menu>li>a:hover{
	background: #FFAE99;
	color:#fff;
}

.box-div {
	background: #fff;
	box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px
		rgba(0, 0, 0, 0.25);
	padding: 12px 20px;
	border-radius: 5px;
	margin:auto;
}


/*footer*/
    footer.row{
    	font-size:14px;
    	margin-top: 20px;
    }
	.basic-info {
		float: left;
		margin: 20px 5px;
		font-family:Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	}
	.further-info,aside{
		margin-top:20px;
	}
	.further-info ul li,footer aside li{
		float: left;
		padding-right: 10px;
		margin: 15px;
		border-right: solid 1px orange;
	}

	.further-info a,aside li a,aside a{
		text-decoration: none;
		color: #fff;
	}
	footer aside{
		clear: both;
		margin-left:5%;
	}
	footer aside li a:hover{
		color: #ccc;
		text-decoration: none;
	}




.modal-body,.modal-header{
	background:#999999;
	color:#fff; 
}
.modal-body ul>li{
	display: inline-block;
}

.modal-body li a{
	display: inline-block;
	padding:5px 10px;
	border:1px solid #333;
	margin:10px; 
	background: #fff;
	color: #333;
}


.main-container{
	padding-top:40px;
	max-width:1500px;
	margin:0 auto;
}

.main-container section{
	background: #fff;
	border:1px solid #ccc\9;
	box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	padding:10px 20px;
	border-radius: 5px;
	line-height: 25px;
	margin-bottom: 40px;

}



@media screen and (min-width: 641px){
		.show .nav>li>a,.show .navbar-brand{
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 16px;
		}

}

@media screen and (max-width: 768px) { 
	.logo{	
  		float: none;
		position: relative;
  		width:250px;
  		height: 97px;
  		background-position:100% 0%;
		margin:0px auto;
	}

	.nav-container .contact{
		display: none;
	}
	 .row{
		margin:0 auto;
		margin-left: :0;
		margin-right: 0;
	}

	.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}

}

@media screen and (max-width: 640px){
		aside{
		margin:10px;
		}
		footer aside li{
			margin:10px 5px;
			padding-right: 10px;
		}
}