#{extends 'main.html' /}
#{set title:'application' /}

  
  <div class="nav-tabs">
  <div class="box-div" style="width:400px;margin-top:30px;">
    <form class="form-horizontal" action="@{Users.verificate}" method="post" id="defaultForm" role="form" >
    		<legend>登陆
    		<div class="pull-right"> 
                   <h6>没有账号？马上<a href="@{Users.register}">注册</a> </h6>
             </div>
    	
    		</legend>
          <fieldset>      
     <div class="form-group">
       <label class="col-sm-4 control-label" for="username">账号</label>
         <div class="col-sm-6">
           <input type="text" class="form-control" name="username"   required="required" value=""   placeholder="请输入账号" >          
         </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="pass">密码</label>
        <div class="col-sm-6">
         <input  class="form-control" type="password" name="pass" required="required" value=""    placeholder="请输入密码" >          
       </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="password">验证码</label>
       <div class="col-sm-6">
        <input class="form-control" type="text" name="captchacode" placeholder="请输入验证码" required="required">
          <p class="verification-img-box">
			 <img id="verificationImg" src="@{UserSecures.getCaptcha(randomId)}" class="verification-img">
			  <a href="javascript:setCaptcha();">看不清楚？换一张</a>
		  </p>
        </div>
     </div>
     <div class="form-group">
         <div class="col-sm-7 control-label" >
          <button type="submit"  class="btn btn-large btn-danger">登陆 </button> 
         </div>
      </div>
  
    </fieldset> 
   </form>    
</div>
</div>

<script type="text/javascript">
function setCaptcha() {
	$("#verificationImg").attr("src","/usersecures/getcaptcha?randomId=4b380ff9-072b-4681-8f85-156cc13ef52a&time="+new Date().getTime());
}
</script>



