#{extends 'Users/base.html' /}
#{set showUserInfo : 'class=active' /}

<div class="nav-tabs box-div">
	<form class="form-horizontal" action="@{Users.editUser}" method="post" role="form" enctype="multipart/form-data">
		<legend>信息修改</legend>
		<ol class="well">
		         
		        <input type="hidden" name="user.id"   value="${user.id }">
		        <input type="hidden" name="user.type" value="${user.type }">
		        <input type="hidden" name="user.status" value="${user.status }">
	            <li><strong>账号&nbsp&nbsp:</strong>
	              <label type="text" name="user.account" readonly="readonly">${user.account }</label>
	            </li>
	            <li><strong>密码:</strong>
	              <input class="btn btn-default" type="password" value="${user.password }" maxLength="10">
	            </li>
	            <li><strong>重复密码:</strong>
	              <input class="btn btn-default" type="password"  value="${user.password }" required="required" maxLength="10">
	            </li>
	            <li><strong>真是姓名:</strong>
	              <input class="btn btn-default" type="text" name="user.rname"  value="${user.rname }" required="required" maxLength="10">
	            </li>
	            <li><strong>身份证号:</strong>
	              <input class="btn btn-default" type="text" name="user.prc" value="${user.prc }" required="required" maxLength="10">
	            </li>
	            <li><strong>性别:</strong>
	              <select name="user.sex" class="btn btn-default">
	                  <option value="1" ${user.sex==1?'checked':''}>男</option>
	                  <option value="2" ${user.sex==2?'checked':''}>女</option>
	              </select>
	            </li>
	            <li><strong>年龄:</strong>
	              <input class="btn btn-default" type="text" name="user.age" value="${user.age }" required="required">
	            </li>
	            <li><strong>个人头像:</strong>
	              <img alt="photo" src="${user.photo }" >
	              <input type="hidden" name="user.photo" value="${user.photo }">
	              <input class="btn btn-default" type="file" name="photo" onChange="checkImgType(this)">
	            </li>
	            
	             <li>
	             <button type="submit" class="btn btn-success">保存</button>
	            </li>
	      </ol>
	</form>
</div>


