#{extends 'ShowCourses/base.html' /}
#{set title:'ShowCoursesInfo' /}
#{set 'moreSubpageStyles'}
<style type="text/css">
  .course-period,.brief,.table-responsive,.teacher{
    margin-top:2em;
  }
</style>
#{/set}
<ol class="breadcrumb">
  <li><a href="@{Application.index}">首页</a></li>
  <li >社区课堂</li>
  <li >某课程分类</li>
  <li class="active">某课程</li>
</ol>
<div class="main-content">
  <img class="img-responsive show-img"  src="../public/images/training.jpg" alt="">
  <h2>
    看见
  </h2>
  <p class="sub col-md-12"><small class="col-md-4">作者:马云扎堆专栏</small><small class="col-md-4">审批人：吴大妈</small><small class="col-md-4">2014-12-03</small></p>
  <div class="clearfix"></div>
  <div class="brief">
    <h4>课程简介:</h4>
    <p>十年之间，在每个重大事件现场，几乎都能发现柴静的身影。她看见，并记录下新闻中给她留下强烈生命印象的个人，为时代留下私人的注脚。柴静在方所，与读者分享她十年间的记者经历，以及采访之间的生命往来</p>
  </div>
  <div class="course-period">
    <h4>开课时间:</h4>
    <p >3-14:4-14</p>
  </div>
  <div class="teacher">
    <h4>授课老师:</h4>
    <p>呵呵</p>
    <p>呵呵</p>
    <p>呵呵</p>
  </div>
  <div class="course-arrangement">
    <div class="table-responsive">
    <h4>课表安排:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>3月15</th>
            <th>3月17</th>
            <th>3月25</th>
            <th>4月4</th>
            <th>4月7</th>
            <th>4月13</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7:00~8:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>9:00~10:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>11:00~12:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>14:00~15:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>16:00~17:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>11:00~12:00</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="attach">
    <img src="../public/images/pdf.png" alt=""/>
    <a class="btn" href="#">下载附件</a>
  </p>
  <p class="attach">
    <img src="../public/images/word.png" alt=""/>
    <a class="btn" href="#">下载附件</a>
  </p>
  <p class="attach">
    <img src="../public/images/excel.png" alt=""/>
    <a class="btn" href="#">下载附件</a>
  </p>
</div>
