#{extends 'SystemSettings/base.html' /}
#{set showSystemSettings : 'class=active' /}
<div class=" nav-tabs box-div">
   <h4>版权设置</h4>
	    <form class="form-horizontal" role="form" name="indexForm" action="@{SystemSettings.changeIndex}" method="post">
	    <fieldset>
				<div class="form-group">
			    	<label class="col-sm-2 control-label" for="indexName">主页名称:</label>
			    	    <div  class="col-sm-5">
			      	      <input class="form-control"  type="text" name="indexName" value="${sp.indexName}" >
			      	 	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label" for="copyright">版权所有:</label>
			    	  <div  class="col-sm-5">
			      	   <input  class="form-control" type="text"  name="copyright" value="${sp.copyright}" >
			          </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label" for="address">地址:</label>
			    	<div  class="col-sm-5">
			      	 <input class="form-control" type="text"  name="address" value="${sp.address}" >
			      	 </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label" for="telephone">电话:</label>
			    	<div  class="col-sm-5">
			      	<input class="form-control" class="form-control" type="text"  name="telephone"  value="${sp.telephone}" >
			  	</div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label" for="mailbox">邮箱:</label>
			    	<div  class="col-sm-5">
			      	<input class="form-control" class="form-control" type="text" name="mailbox" value="${sp.mailbox}" >
			  	</div>
			  	</div>
			  	<div class="form-group">
            <div class="col-sm-4 control-label">
                <button type="submit"  class="btn btn-primary">保存</button>
            </div>
        </div>
		</fieldset>
	</form>
</div>
	



	