	#{extends 'BackWorks/base.html'/}
	#{set worksVerify : 'class=active' /}
	<table class="table table-condensed">
   <thead>
      <tr>
         <th>联系人</th>
         <th>租房地址</th>
         <th>审核状态</th>
         <th>操作</th>
      </tr>
   </thead>
   <tbody>
      #{list items:workList,as : 'work'}
      <tr>
         <td>${work.contacts}(${work.indentity})</td>
         <td><a href="@{BackWorks.showWorkInfo(work.id)}">
            ${work.community}${work.address}
         </a></td>
         <td>
            #{if work.audit==1} 
            未审核
            #{/if} #{elseif work.audit==2}
            审核不通过
            #{/elseif}
            #{else}
            已审核
            #{/else}
         </td>
         <td>
            <a href="@{BackWorks.worksVerifySuccess(work.id)}">通过</a>/
            <a href="@{BackWorks.worksVerifyFailure(work.id)}">不通过</a>
         </td>
      </tr>
      #{/list}
   </tbody>
</table>
#{page pageBean:pageBean,params:params/}
