#{extends 'ShowHouses/base.html' /}
#{set title:'House-detail' /}

#{set "moreSubpageStyles"}
<style type="text/css">
	.show-detail{
		font-size: 18px;
	}
	.show-detail .sub{
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	.table td small{
		width: auto;
		color: #666;
		padding-right: 1em;
	}

	.show-detail div>span{
		color: #9a9a9a;
	}
	.show-detail{
		display: inline-block;
	}
	.table > tbody > tr > td{
		border-top: none;
	}
</style>
#{/set}

		<!-- 路径导航 -->
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li ><a href="">社区租房</a></li>
			<li class="active">租房详细</li>
		</ol>
		<div class="main-content">
			<h2>南洲花园两房 低楼层 有匙即看</h2>
			<p class="sub">
				<small>房源编号：20130415</small><small>时间：2014-8-12</small>
				<small><a>举报</a></small>
			</p>
			<div class="show-box col-md-5">
				<a href="#" class="thumbnail"><img src="../public/images/roominside.jpg" data-src="holder.js/100%x180" alt="house"></a>
				<ul>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
				</ul>
			</div>
			<div class="show-detail col-md-7">
				<table class="table table-hover">
					<tr>
						<td><p>价格</p></td>
						<td>
							<p><span class="price">3300</span>元
							<small>押一付一</small></p>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>

		</div>