#{extends 'ShowHouses/base.html' /}
#{set title:'House-detail' /}

#{set "moreSubpageStyles"}
<style type="text/css">
	.show-detail{
		font-size: 18px;
	}
	.show-detail .sub{
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	.table td small{
		width: auto;
		padding-right: 1em;
		color: #666;
	}
	.table .price+small{
		padding-left: 1em;
		padding-right: 0;
	}

	.show-detail div>span{
		color: #9a9a9a;
	}
	.show-detail{
		display: inline-block;
	}
	.table > tbody > tr > td{
		border-top: none;
	}
	.detail-item{
		color: #999;
	}
</style>
#{/set}

		<!-- 路径导航 -->
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li ><a href="">社区租房</a></li>
			<li class="active">租房详细</li>
		</ol>
		<div class="main-content">
			<h2>南洲花园两房 低楼层 有匙即看</h2>
			<p class="sub">
				<small>房源编号：20130415</small><small>时间：2014-8-12</small>
				<small><a>举报</a></small>
			</p>
			<div class="show-box col-md-5">
				<a href="#" class="thumbnail"><img src="../public/images/roominside.jpg" data-src="holder.js/100%x180" alt="house"></a>
				<ul>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
					<li><img src="" alt=""></li>
				</ul>
			</div>
			<div class="show-detail col-md-7">
				<table class="table table-hover table-condensed">
					<tr>
						<td class="detail-item col-md-3"><p>价格</p></td>
						<td>
							<p><span class="price">3300</span>元
							<small>押一付一</small></p>
						</td>
					</tr>
					<tr>
						<td class="detail-item col-md-3"><p>概况</p></td>
						<td>
							<p>
								<small>1室0厅1卫</small>
								<small>30㎡</small>
								<small>公寓</small>
								<small>精装修</small>
								<small>朝向南</small>
							</p>
						</td>
					</tr>
					<tr>
						<td class="detail-item col-md-3"><p>概况</p></td>
						<td>
							<p>
								<small>6/9层</small>
							</p>
						</td>
					</tr>
					<tr>
						<td class="detail-item col-md-3"><p>区域</p></td>
						<td>
							<p>
								<small>天河 - 棠下 - 员村新村</small>
							</p>
						</td>
					</tr>
					<tr>
						<td class="detail-item col-md-3"><p>地址</p></td>
						<td>
							<p>
								<small>天河区员村四横路自编8号石东商务中心6楼</small>
							</p>
						</td>
					</tr>
					<tr>
						<td class="detail-item col-md-3"><p>联系人</p></td>
						<td>
							<p>
								<small>时先生 （经纪人）</small>
								<small>132-4560-2034</small>
							</p>
						</td>
					</tr>
				</table>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#describe" role="tab" data-toggle="tab">房源描述</a></li>
			  <li><a href="" role="tab" data-toggle="tab">小区介绍</a></li>
			  <li><a href="#resource" role="tab" data-toggle="tab">附近房源推荐</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane  fade in active" id="describe">
			  	
			  </div>
			  <div class="tab-pane fade" id="profile">
			  	
			  </div>
			  <div class="tab-pane fade" id="resource">
			  	
			  </div>
			</div>

		</div>