#{extends 'Courses/base.html' /}
#{set 'showOnlineCourseInfo'}
<li class='active'>
	<a href="#" >信息页（online）</a>
</li>
#{/set}
		
	<div class=" nav-tabs box-div">
	    <h2>类别名称：</h2>
	    <hr>
		<form class="form-inline"  action="@{CourseCategories.changeCategoryName }">
            <input type='hidden' name='id' value='${category.id}'>
            <div class="form-group">
	    				<label for="name"></label>
	    				<input type="text" name="name" value='${category.name}' class="form-control" placeholder="输入新类别名称：" required="required">
	  		</div>
            <div class="form-group">
		   				<button class='btn btn-success' type='submit' >保存</button>
		   				<a class='btn btn-primary'  href='@{CourseCategories.showCourseCategories(1) }' >返回</a>
		   				<a class='btn btn-primary'  href='@{Courses.addOnlineCourse(category.id) }' >发布在线课程</a>
		   </div>
		</form>
	    <hr>
		<h2>在线课程</h2>
		<div class=" nav-tabs">
	 	<hr>
	   <form class="navbar-search" action="@{Courses.showOnlineCourses}" method="get">
	     <div class="form-group">
		 	<input type="hidden" name="categoryId" value="${category.id}" />
		 	<input type="text" name="searchKey" id="keyword" class="search-query" value="${searchKey}"  placeholder="请输入关键字" />
		 	<input type="submit" class="btn btn-default" value="搜索" />
		  </div>	
		  #{page pageBean:pageBean,params:params/}
	   </form>
	  	<hr>
				
				#{list items:list,as:'course'}
				<div>
					
					<p>序号：${course_index+(curPage-1)*pageBean.perPage}:</p>
					<p>课程名称：${course.title}</p>
					<p>课程图片：<img alt="" src="${course.photo}" width="200px" height="150px"></p>
					<p>课程概述：${course.info}</p>
					<p>课程链接：<a href='${course.url}' target='_blank'>${course.url}</a></p>
					<p>课程类目：${course.getCourseCategory()?.name}</p>
					<p>发布者：${course.getAuthorName()}</p>
					<p>发布时间：${course.showPubTime()}</p>
					<p>操作：
					    <!-- 
						<a href="@{Courses.delOnlineCourse(course.id,category.id)}" onclick="return confirm('删除视频链接：${course.title}?')" class="btn btn-success">审核</a>
					    -->
					    <a href="@{Courses.delOnlineCourse(course.id,category.id)}" onclick="return confirm('删除视频链接：${course.title}?')" class="btn btn-danger">删除</a>
					</p>
				</div>	
				<hr>
				#{/list}
				
				#{page pageBean:pageBean,params:params/}
	</div>
