#{extends 'main.html' /}

#{set 'moStyles'}
<script></script>
<style>
.input-error {
color: rgb(255, 69, 68);
background: rgb(255, 235, 236);
border: 1px solid rgb(255, 189, 191);
border-radius: 3px;
}
</style>
#{/set}

  <div class="container" style="width:500px;margin-top:20px;">
  	<div class="box-div text-center">
    <form action="@{UserSecures.verify }" method="post">
    		<h3>login page</h3>
          <ol class="well">
            <input name="randomId" value="${randomId}" type="hidden">
            <li><strong>账号:</strong>
              <input class="btn btn-default input-error" type="text" name="account"  maxLength="12" placeholder="${flash.accountError}" value="${flash.account}" required="required">
            </li>
            <li><strong>密码:</strong>
              <input class="btn btn-default" type="password" name="password"  maxLength="12" placeholder="${flash.passwordError}" value="${flash.password}" required="required">
            </li>
            <li><strong>验证:</strong>
              <img id="verificationImg" onClick="javascript:setCaptcha();" src="@{UserSecures.getCaptcha(randomId)}" class="verification-img">
            </li>
            <li><input class="btn btn-default verification" type="text" name="captchaCode" placeholder="${flash.captchaCodeError?flash.captchaCodeErrorMessage:'请输入验证码'}" required="required"></li>
             <li>
             <a href="@{Application.register}" class="btn btn-primary">注册</a>
             <button class="btn btn-primary" type="submit">登陆</button>
            </li>
          </ol>
        </form>
   </div>
</div>

<script type="text/javascript">
function setCaptcha() {
	$("#verificationImg").attr("src","/usersecures/getcaptcha?randomId=4b380ff9-072b-4681-8f85-156cc13ef52a&time="+new Date().getTime());
}


</script>

