#{extends 'main.html' /}

<div class="container">
<div class="box-div" style="width:500px;">
	<a href="@{Application.login}" class="pull-right" >GO to login</a>
	<form class="form-horizontal" action="@{Users.saveUser}" method="post" role="form" enctype="multipart/form-data">
		<legend>账号申请</legend>
		<ol class="well">
		        <input type="hidden" name="user.type" value="1">
		        <input type="hidden" name="user.status" value="1">
	            <li><strong>账号&nbsp&nbsp:</strong>
	              <input class="btn btn-default" type="text" name="user.account"  maxLength="10" required="required">
	            </li>
	            <li><strong>密码:</strong>
	              <input class="btn btn-default" type="password" name="user.password" required="required" maxLength="10">
	            </li>
	            <li><strong>重复密码:</strong>
	              <input class="btn btn-default" type="password"  required="required" maxLength="10">
	            </li>
	            <li><strong>真是姓名:</strong>
	              <input class="btn btn-default" type="text" name="user.rname" required="required" maxLength="10">
	            </li>
	            <li><strong>身份证号:</strong>
	              <input class="btn btn-default" type="text" name="user.prc" required="required" maxLength="10">
	            </li>
	            <li><strong>性别:</strong>
	              <select name="user.sex" class="btn btn-default">
	                  <option value="1">男</option>
	                  <option value="2">女</option>
	              </select>
	            </li>
	            <li><strong>年龄:</strong>
	              <input class="btn btn-default" type="text" name="user.age" required="required">
	            </li>
	            <li><strong>个人头像:</strong>
	              <input class="btn btn-default" type="file" name="photo" required="required" onChange="checkImgType(this)">
	            </li>
	            
	             <li>
	             <button type="submit" class="btn btn-success">注册</button>
	            </li>
	      </ol>
	</form>
</div>
</div>

