<!DOCTYPE html>
<html>
  <head>
    <title>新广州人社区服务系统</title>
    <meta charset="utf-8">
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="public/images/favicon.ico">
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">  
    <link href="../public/stylesheets/main.css" rel="stylesheet">  
     #{get 'moreStyles' /}
  </head>

  <body>


     
    <nav class="main-nav">
       <div class="container">
          <a class="main-nav-item" id="nav-Application" href="@{Application.index}" onClick="clickNav(this)">Application</a>
          <a class="main-nav-item" id="nav-Houses" href="@{Houses.index}" onClick="clickNav(this)">Houses</a>
          <a class="main-nav-item" id="nav-Links" href="@{Links.index}" onClick="clickNav(this)">Links</a>
          <a class="main-nav-item" id="nav-Questions" href="@{Questions.index}" onClick="clickNav(this)">Questions</a>
          <a class="main-nav-item" id="nav-Users" href="@{Users.index}" onClick="clickNav(this)">Users</a>
       </div>
	</nav>
	
    <div class="container">
		#{doLayout /}
	</div>

    <footer>
      <p>@author biao</p>
      <p>
        <a href="#">Back to top</a>
      </p>
   </footer>
   
   <script>function clickNav(obj){ obj.className="main-nav-item active";}</script>
    
  </body>
</html>

