<!DOCTYPE html>
<html>
    <head>
        <title>${session['indexName']}</title>
        <meta charset="utf-8"> 
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="community">
        <meta name="author" content="">

        <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
        <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
        <!--script src="js/less-1.3.3.min.js"></script-->
        <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="../public/javascripts/html5shiv.js" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="../public/javascripts/respond.min.js"></script>
        <![endif]-->
      <!--[if IE 9]>
          <script type="text/javascript" src="../public/javascripts/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>

     <!-- nav-set -->
      <div class="nav-container container-fluid">
          <!-- logo -->
          <div class="row">
            <a href="@{Application.index}"><h1 class="logo col-md-3 col-md-offset-2 ">logo</h1></a>
            <div class="col-md-4 col-md-offset-2 contact">
                <ul class="list-inline">
                    <li><a>关于我们</a></li>
                    <li><a>联系我们</a></li>
                </ul>
                <h3>新广州人热线：</h3> 
                <div class="hot-line">
                    <span>020-399-7093</span>           
                    <span>020-398-3073</span>
                </div>
            </div>
          </div>
          <!-- 导航条 -->
          <div class="navbar navbar-inverse ">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand hidden-xs" href="@{Application.index}">Brand</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="@{ShowArticles.News}">社区新闻</a></li>
                    <li><a href="#">社区课堂</a></li>
                    <li class="dropdown">
                      <a href="@{ShowHouses.Houses}" class="dropdown-toggle" data-toggle="dropdown">社区租房</a>
                      <ul class="dropdown-menu hidden-xs" role="menu">
                        <li><a href="@{ShowHouses.Houses}">我要租房</a></li>
                        <li><a href="@{ShowHouses.rentHouses}">我要出租</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="@{ShowWorks.Works}" class="dropdown-toggle" data-toggle="dropdown">招工信息</a>
                      <ul class="dropdown-menu hidden-xs" role="menu">
                        <li><a href="@{ShowWorks.Works}">我要找工</a></li>
                        <li><a href="@{ShowWorks.recruit}">发布招聘</a></li>
                      </ul>
                    </li>
                    <li><a href="#">信息咨询</a></li>
                    <li><a href="@{Links.showLinkCategories}">维权</a></li>
                  </ul>
                </div>
            </div>
          </div>
         </div>
        <!--/.nav-collapse -->
        <!--/.nav-collapse -->
    

        #{doLayout /}

          <!-- footer  contain athor and company message-->
  <footer class="row">
    <aside class=" col-md-5">
          <span>友情链接</span>
            <ul>
              <li><a data-toggle="modal" data-target="#myModal">五套班子</a></li>
              <li><a data-toggle="modal" data-target="#myModal">区委/区政府系统</a></li>
              <li><a data-toggle="modal" data-target="#myModal">政法系统</a></li>
              <li><a data-toggle="modal" data-target="#myModal">人民团体</a></li>
              <li><a data-toggle="modal" data-target="#myModal">计划/经济/商业系统</a></li>
              <li><a data-toggle="modal" data-target="#myModal">科教文体卫系统</a></li>
              <li><a data-toggle="modal" data-target="#myModal">城建/城管系统</a></li>
              <li><a data-toggle="modal" data-target="#myModal">街道办事处</a></li>
            </ul> 
          </aside>
          <div class="col-md-4 col-md-offset-2">
            <div class="further-info  hidden-xs">
                <span>寻找帮助</span>
                <ul class="">
                    <li><a>微博</a></li>
                    <li><a>Twitter</a></li>
                    <li><a>facebook</a></li>
                </ul>
            </div>
            <div class="basic-info  col-xs-12">
                <p>版权所有：${session.copyright}  <br /> 地址：${session.address} <br>
				电话：${ session.telephone }&nbsp 邮箱：${ session.mailbox }</p>
            </div>
			<div>
				
			</div>
		</div>

            <!-- Button trigger modal -->       
      
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="text-center"></h3>
                 </div>
                  <div class="modal-body">
                  </div>
                </div>
            </div>
          </div> 
      </footer>


    <script type="text/javascript" src="@{'/public/javascripts/jquery-1.11.1.min.js'}" charset="${_response_encoding}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/bootstrap.js'}" charset="${_response_encoding}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/scripts.js'}" charset="${_response_encoding}"></script>

    #{get 'moreScripts' /}
    </body>
</html>
