#{extends 'main.html'/}

<style>
<!--
.menu{
 display: inline-block;
 width:50px;
 position: fixed;
 z-index: 1000;

}
-->
</style>

		<div class="menu">
			<ul>
				#{if session.userCategory != "2"}
				<!-- 系统设置，只有社区管理员以上有权限 -->
				<li class="btn btn-default">
					<a href="@{SystemSettings.index}">版权设置</a>
				</li>
				<li class="btn btn-default">
					<a href="@{Users.register}">用户管理</a>
				</li>
				#{/if}
				#{if session.userCategory != "0"}
				<!-- 只有文章管理员和超级用户有权 -->
				<li class="btn btn-default">
					<a href="#">文章管理</a>
				</li>
				<li class="btn btn-default">
					<a href="@{Links.showLinkCategories}">链接管理</a>
				</li>
				<li class="btn btn-default">
					<a href="#">课堂管理</a>
				</li>
				<li class="btn btn-default">
					<a href="#">租房管理</a>
				</li>
				<li class="btn btn-default">
					<a href="#">招工管理</a>
				</li>
				<li class="btn btn-default">
					<a href="#">信息反馈</a>
				</li>
				#{/if}
				
			</ul>
		</div>

#{doLayout /}

<<script type="text/javascript" src="/public/javascripts/manage.js"></script>





